@layer global {
  @font-face {
    font-family: "DM Sans SBI";
    src: url("/assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf")
      format("truetype");
    font-display: swap;
    font-weight: 100 900;
  }
  @font-face {
    font-family: "DM Sans";
    src: url("/assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf")
      format("truetype");
    font-weight: 100 900;
    font-display: swap;
  }
  @font-face {
    font-family: "Bricolage Grotesque Bold";
    src: url("/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf")
      format("truetype");
    font-weight: 800;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    --c-neutral-0: #fff;
    --c-neutral-200: #d4d3d9;
    --c-neutral-300: #acacb7;
    --c-neutral-600: #3c3b5e;
    --c-neutral-700: #302f4a;
    --c-neutral-800: #262540;
    --c-neutral-900: #02012c;
    --c-orange-500: #ff820a;
    --c-blue-500: #4658d9;
    --c-blue-700: #2b1b9c;
  }
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

body {
  background-color: #333;
  color: white;
}
main {
  max-width: 700px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search {
  /* border: 1px solid red; */
  height: 100px;
}
.overview__conditions {
  position: relative;
  text-align: center;
  background-image: url("/assets/images/bg-today-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 343px;
  min-height: 286px;
  height: min-content;
  margin: 0 auto;
}
.overview__conditions .location {
  display: inline-block;
  font-family: "DM Sans";
  font-size: calc(28 / 16 * 1rem);
  font-weight: bold;
  margin-block: 2.5rem 1rem;
}
.overview__conditions .date {
  display: block;
  font-family: "DM Sans";
  font-size: calc(18 / 16 * 1rem);
  font-weight: 500;
  line-height: 1.2;
  opacity: 80%;
}
.overview-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: min-content;
  margin: 0 auto;
}
.overview-details .temp {
  font-family: "DM Sans SBI";
  font-size: calc(96 / 16 * 1rem);
  letter-spacing: -2px;
  font-weight: 600;
}
.report {
  /* border: 2px solid limegreen; */
  height: 100px;
}
.hourly {
  /* border: 2px solid fuchsia; */
  height: 100px;
}

.temperature-icon {
  width: 120px;
  height: 120px;
}

@media (width > 500px) {
  .desktop-group {
    display: inline-flex;
    flex-direction: row;
  }
}
